SpaceShooting/Monochrome.sln
SpaceShooting/Library/
SpaceShooting/Assembly-CSharp-Editor.csproj
SpaceShooting/Assembly-CSharp.csproj
SpaceShooting/.vsconfig
SpaceShooting/.vs/
SpaceShooting/obj/
SpaceShooting/UserSettings/
SpaceShooting/Temp/
SpaceShooting/SpaceShooting.sln
